* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mss_request {
  color: #d1ccc1;
  background-color: #5454ac;
  padding: 10px 40px;
  margin-right: 2rem;
  font-size: 18px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}
.mss_client {
  border: 1px solid rebeccapurple;
  color: #a4d5db;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}
.mss_home {
  font-size: 18px;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
}
.mss_home1 {
  font-size: 18px;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
}
.mss_home2 {
  font-size: 18px;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
}
.mss_mainSection {
  padding: 6rem 0;
  overflow: hidden;
}
.mss_desc {
}
.mss_desc_div {
  /* line-height: 8px; */
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}
.mss_desc_div p {
  font-family: "DM Sans", sans-serif;
  color: #617c88;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
}
.mss_heding_succ {
  font-family: "Space Grotesk", sans-serif;
  font-size: 58px;
  font-weight: 300;
  line-height: 50px;
}
.mss_left_top_line {
  position: absolute;
  top: -6rem;
  left: -15rem;
}
.mss_mainDiv {
  position: relative;
}
.mss_lineImg {
  height: 21rem;
  width: 35rem;
}
.mss_bottom_circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #ffffff1c;
  position: absolute;
  left: -8rem;
}
.mss_right_line {
  position: absolute;
  top: 2.2rem;
  right: -4.5rem;
}
.mss_right_linImg {
  width: 50rem;
  height: 20rem;
}
.mss_cardSection {
  height: 423px;
  width: 325px;
  filter: drop-shadow(4px 10px 17px #07003b1f);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
}
.ms_circleImgage {
  height: 144.16px;
  width: 144.16px;
  margin-top: 1rem;
}
.mss_name {
  font-family: "Space Grotesk", sans-serif;
  font-size: 22px;
  font-weight: 700;
  /* filter: drop-shadow(4px 5px 3px #38484f); */
  color: #38484f;
}
.mss_name_position {
  font-family: "DM Sans", sans-serif;

  /* filter: drop-shadow(4px 5px 3px #a4d5db); */
  color: #a4d5db;
  font-size: 16px;
  font-weight: 500;
}
.mss_in {
  font-family: "Space Grotesk", sans-serif;

  border-radius: 50%;
  background-color: #a4d5db;
  padding: 9px 16px;
  font-size: 22px;
  font-weight: 1000;
}
.mss_inID {
  padding: 10px 30px;
  background-color: #5454ac;
  color: #d1ccc1;
  margin: 0 auto;
}
.mss_handDirectionDiv {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
}
.mss_handDirection {
  height: 9rem;
}
.mss_card_section {
  position: relative;
  top: -4rem;
}
.mss_thirdCardSection {
  margin-top: 3rem;
}
.mss_footerMainDiv {
  /* margin-top: 3rem; */
}
.ms_footerSection {
  background-color: #a4d5db;
  padding: 3rem 0;
  margin-top: 6rem;
  overflow: hidden;
}
.ms_anchor {
  font-size: 16px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  color: #38484f5b;
}

.mss_fotHead {
  font-size: 19px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  color: #5454ac;
}
.mss_empower {
  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: #38484f;
  margin: 0;
}
.mss_copy {
  font-family: "Space Grotesk", sans-serif;

  width: 64%;
  font-size: 16px;
  font-weight: 300;
}
.mss_protected {
  font-size: 16px;
  font-weight: 300;
  color: #38484f;
}
.mss_foterDesc {
  width: 50%;
}
.mss_language {
  height: 21px;
}
.mss_btn-secondary {
  padding: 5px 20px;
  background: #a4d5db;
  border-radius: 1000px;
  border: 1px solid #5454ac;
  color: #5454ac;
  /* border: none; */
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
}

.mss_language {
}
.mss_footerLIneOne {
  top: -5rem;
  left: -6rem;
  height: 10rem;
  width: 30rem;
}

.mss_footerCircleOne {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #ffffff1f;
  bottom: -7rem;
  left: -6rem;
  /* display: none; */
}
.mss_nav_ul {
  display: flex;
  justify-content: end;
  align-items: end;
}
.mss_ImagCircle6 {
  height: 144.16px;
  width: 144.16px;
  background-color: #60e1cb19;
  border-radius: 50%;
  margin-top: 1rem;
}

.mss_topMar:hover {
  margin-top: -2rem;
  transition: 0.8s ease-in-out;
}

.mss_request:hover {
  background-color: #617c88;
}
.mss_client:hover {
  background-color: #617c88;
}
.mss_topMarCard1:hover {
  transform: rotate(30deg);
  transition: 0.8s ease-in-out;
}

.mss_topMarCard1 {
  position: relative;

  transition: transform 0.6s;
  transform-style: preserve-3d;

  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.mss_topMarCard2:hover {
  transform: rotate(-30deg);
  transition: 0.8s ease-in-out;
}

.mss_topMarCard3:hover {
  transform: rotate(360deg);
  transition: 0.8s ease-in-out;
}
.mss_topMarCard5:hover {
  animation-name: zikzak;
  animation-duration: 1000ms;
  animation-iteration-count: ease-in-out;
  /* animation-timing-function: linear; */
}
@keyframes zikzak {
  0% {
    transform: rotate(-20deg);
  }
}
.mss_topMarCard6:hover {
  transform: rotate(-30deg);
  transition: 0.8s ease-in-out;
}
/* flip card */
.flip-card {
  background-color: transparent;
  /* width: 300px;
  height: 300px; */
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.flip-card:focus {
  outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  background: linear-gradient(to left, #ffffff, #ffffff);
  color: black;
  z-index: 2;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 260px;
}

.flip-card-back {
  background: linear-gradient(to right, #ffffff, #ffffff);
  /* color: white; */
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
