@media (min-width: 320px) and (max-width: 480px) {
  .mss_copy {
    width: 100%;
  }
  .mss_cardSection {
    margin-top: 2rem;
  }
  .mss_desc_div p {
    margin: 0;
    width: 100%;
  }
  .mss_lineImg {
    height: 8rem;
    width: 26rem;
  }
  .mss_bottom_circle {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: #ffffff1c;
    position: absolute;
    left: -3rem;
  }
  .mss_iconFacebook {
    height: 70% !important;
  }
  .mss_cast {
    margin: 0 !important;
  }
  .mss_forms {
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .mss_client {
    margin-top: 10px;
  }
  .mss_request {
    margin-right: 0rem;
  }
  .mss_foterDesc {
    width: 100%;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -5rem;
    right: 8rem;
  }
  .mss_handDirection {
    height: 5rem;
  }
  .mss_desc_div {
    line-height: 24px;
  }
  .mss_right_line {
    display: none;
  }
  .mss_topMar {
    margin-top: 3rem;
  }
  .mss_secondCardSec {
    margin-top: -3rem;
  }
  .mss_thirdCardSection {
    margin-top: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .mss_copy {
    width: 100%;
  }
  .mss_cardSection {
    margin-top: 2rem;
  }
  .mss_desc_div p {
    margin: 0;
    width: 100%;

    /* font-size: 18px; */
  }
  .mss_iconFacebook {
    height: 70% !important;
  }
  .mss_cast {
    margin: 0 !important;
  }
  .mss_request {
    margin-right: 0rem;
  }
  .mss_client {
    margin-top: 10px;
  }
  .mss_forms {
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .mss_foterDesc {
    width: 100%;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -5rem;
    right: 12rem;
  }
  .mss_handDirection {
    height: 5rem;
  }
  .mss_thirdCardSection {
    margin-top: 0rem;
  }
  .mss_desc_div {
    line-height: 24px;
  }
  .mss_right_line {
    display: none;
  }
  .mss_topMar {
    margin-top: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .mss_handDirection {
    height: 5rem;
  }
  .mss_cardSection {
    margin-top: 3rem;
  }
  .mss_desc_div p {
    margin: 0;
    width: 100%;
  }
  .mss_right_linImg {
    width: 42rem;
    height: 15rem;
  }
  .mss_right_line {
    position: absolute;
    top: 6rem;
    right: -1.5rem;
  }
  .mss_cast {
    margin: 0 !important;
  }
  .mss_client {
    margin-top: 10px;
  }
  .mss_request {
    margin-right: 0rem;
  }
  .mss_forms {
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -5rem;
    right: 7rem;
  }
  .mss_thirdCardSection {
    margin-top: 0rem;
  }

  .mss_desc_div {
    line-height: 24px;
  }
  .mss_topMar {
    margin-top: 3rem;
  }
  .mss_secondCardSec {
    margin-top: -3rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .mss_cardSection {
    margin-top: 2rem;
  }
  .mss_desc_div p {
    margin: 0;
  }
  .mss_right_line {
    position: absolute;
    top: 4rem;
    right: -1rem;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -4rem;
    right: 16rem;
  }
  .mss_handDirection {
    height: 5rem;
  }
  .ms_circleImgage {
    height: 104.16px;
    width: 104.16px;
    margin-top: 2rem;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .flip-card-front {
    width: 260px;
  }
  .mss_desc_div p {
    margin: 0;
    width: 60%;
  }
  .mss_right_line {
    position: absolute;
    top: 6rem;
    right: -4.5rem;
  }
  .mss_footerLIneOne {
    top: -7rem;
    left: -6rem;
    height: 12rem;
    width: 25rem;
  }
  .mss_cardSection {
    height: 393px;
    width: 250px;
    filter: drop-shadow(4px 10px 17px #07003b1f);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 20px; */
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -2rem;
    right: 6rem;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .mss_cardSection {
    height: 393px;
    width: 250px;
    filter: drop-shadow(4px 10px 17px #07003b1f);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -2rem;
    right: 11rem;
  }
}
