@media (min-width: 320px) and (max-width: 480px) {
  .mss_cast {
    margin: 0 !important;
  }
  .mss_forms {
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .mss_client {
    margin-top: 10px;
  }
  .mss_request {
    margin-right: 0rem;
  }
  .mss_foterDesc {
    width: 100%;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -5rem;
    right: 5rem;
  }
  .mss_handDirection {
    height: 5rem;
  }
  .mss_desc_div {
    line-height: 24px;
  }
  .mss_right_line {
    display: none;
  }
  .mss_topMar {
    margin-top: 3rem;
  }
  .mss_secondCardSec {
    margin-top: -3rem;
  }
  .mss_thirdCardSection {
    margin-top: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .mss_cast {
    margin: 0 !important;
  }
  .mss_request {
    margin-right: 0rem;
  }
  .mss_client {
    margin-top: 10px;
  }
  .mss_forms {
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .mss_foterDesc {
    width: 100%;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -5rem;
    right: 6rem;
  }
  .mss_handDirection {
    height: 5rem;
  }
  .mss_thirdCardSection {
    margin-top: 0rem;
  }
  .mss_desc_div {
    line-height: 24px;
  }
  .mss_right_line {
    display: none;
  }
  .mss_topMar {
    margin-top: 3rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .mss_right_line {
    position: absolute;
    top: 11.2rem;
    right: -2.5rem;
  }
  .mss_cast {
    margin: 0 !important;
  }
  .mss_client {
    margin-top: 10px;
  }
  .mss_request {
    margin-right: 0rem;
  }
  .mss_forms {
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -5rem;
    right: 2rem;
  }
  .mss_thirdCardSection {
    margin-top: 0rem;
  }

  .mss_desc_div {
    line-height: 24px;
  }
  .mss_topMar {
    margin-top: 3rem;
  }
  .mss_secondCardSec {
    margin-top: -3rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .mss_handDirectionDiv {
    position: absolute;
    bottom: -2rem;
    right: 12rem;
  }
  .mss_handDirection {
    height: 5rem;
  }
  .ms_circleImgage {
    height: 104.16px;
    width: 104.16px;
    margin-top: 2rem;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .mss_cardSection {
    height: 393px;
    width: 250px;
    filter: drop-shadow(4px 10px 17px #07003b1f);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
}
